{% extends "inicio.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"> 
<link rel="stylesheet" href="{% static 'css/myestilo.css'%}"> 
{% block contenido %}
<form class="formDataIntegrantes" method="POST" action="/Depto/create_gastosF/"> {% csrf_token %}
    <input type="text" name="nombre" placeholder="Nombre">
            <input type="text" name="tipo" placeholder="Tipo">
            <input type="text" name="valor" placeholder="Valor">
            <input type="text" name="fechaDeVencimiento" placeholder="Fecha de vencimiento">
            <button type="submit" class="btn btn-primary">Cargar</button>
</form>
{%endblock%}