{% extends "home.html" %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de mi</title>
</head>
<body>
    {% block contenido %}
   <h4>Soy Brahian Carballo, tengo 25 años. Vivo en la ciudad de La Plata desde 2017.<br>
    Me recibi este año de ingeniero hidraulico e ingeniero civil en la UNLP. <br>
    Comence a estudiar programacion porque me gusta estar siempre en constante aprendizaje, <br>
    por lo que realice este trabajo final con mucho entusiasmo. <br>
    Soy autor de la idea y del comportamiento de la pagina web. <br>
    La idea fue crear una aplicacion donde se pudieran anotar cosas cotidianas de un departamento <br>
    como quienes viven en el, los gastos que se tienen y la lista del supermercado. <br>
    Espero haber logrado estar a la altura del curso, ya que de mi parte me llevo grandes aprendizajes <br> 
    y ganas de seguir aprendiendo.
   </h4>
    {%endblock%} 
</body>
</html>