{% extends "inicio.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"> 
<link rel="stylesheet" href="{% static 'css/myestilo.css'%}"> 
{% block contenido %}
<h1> Hola {{user.username}} </h1>
    <br>
    <a href="/Depto/create_gastosF/" class="btn btn-warning">Crear gasto Fijo</a>
    <a href="/Depto/read_gastosF/" class="btn btn-warning">Ver gastos Fijos</a>
    <div>
        <br>
        <form class="formDataIntegrantes" action="/Depto/buscar_fijos/" method="GET"> 
            <input type="text" name="fechaDeVencimiento" placeholder="Fecha de vencimiento">
            <button type="submit" class="btn btn-primary">Buscar gasto</button>
        </form> 
    </div>
    <div>
        {% if gastosF %}
        <ul>
            {%for gastoF in gastosF%}
            <li>{{gastoF.nombre}}</li>
            <li>{{gastoF.tipo}}</li>
            <li>{{gastoF.valor}}</li>
            <li>{{gastoF.fechaDeVencimiento}}</li>
            <br>
            {%endfor%}
        </ul>
        {%endif%}
    </div>
{% endblock %}