{% extends "inicio.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"> 
<link rel="stylesheet" href="{% static 'css/myestilo.css'%}"> 
{% block contenido %}
    <h2> Hola {{user.username}} la lista del supermercado es:</h2>
    {% for supermercado in supermercados %}
    <li>
        {{ supermercado }}
        <a href="/Depto/update_supermercado/{{supermercado.id}}" class="btn btn-warning">Edit</a>
        <a href="/Depto/delete_supermercado/{{supermercado.id}}" class="btn btn-danger">Delete</a>
    </li>
    {% endfor %}
    <br>
    <h2>Agregar productos</h2>
    <form class="formDataIntegrantes" method="POST" action="/Depto/supermercado/"> {% csrf_token %}
        <input type="text" name="producto" placeholder="Producto">
                <input type="text" name="rubro" placeholder="Rubro">
                <input type="text" name="cantidad" placeholder="Cantidad">
                <button type="submit" class="btn btn-primary">Subir</button>
    </form>
{% endblock %}