{% extends "inicio.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"> 
<link rel="stylesheet" href="{% static 'css/myestilo.css'%}"> 
{% block contenido %}
    <p> Hola {{user.username}} las tareas pendientes son:</p>
    <br>
    <a href="/Depto/gastosFijos/" class="btn btn-warning">Gastos fijos</a> <br> <br>
    <a href="/Depto/gastosDiarios/" class="btn btn-success">Gastos diarios</a>
    <div>
        <label><input type="checkbox" id="cbox1" value="first_checkbox"> Este es mi primer checkbox</label><br>
        <input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">Este es mi segundo checkbox</label><br>
        <label><input type="checkbox" id="cbox1" value="first_checkbox"> Este es mi primer checkbox</label><br>
    </div>
{% endblock %}